doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
  body
    #navHeader 
      img(src="/images/ezpsy.png", alt="ezpsy logo" id='logo')
      ul#navList 
        - var navList = ['Home',"Docx","Help","GitHub"]
          each nav in navList 
            li(id= 'nav'+nav)= nav
    block content
